[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hippie"]
	path = hippie
	url = https://github.com/crew102/hippie
[submodule "rapidraker"]
	path = rapidraker
	url = https://github.com/crew102/rapidraker
[submodule "slowraker"]
	path = slowraker
	url = https://github.com/crew102/slowraker
[submodule "wosr"]
	path = wosr
	url = https://github.com/cran/wosr
